@model DocType
<html>
<head>
  <script src="web/editor.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="web/style.css">

</head>
<body>
  <div class="caption">@Model.Name</div>
  <div class="title">Summary:</div>
  <div class='edit' id='summary' contenteditable='true'>@{WriteLiteral (Model.SummaryHtml);}</div>
  <div class="title">Remarks:</div>
  <div class="edit" id='remarks' contenteditable='true'>@{WriteLiteral (Model.RemarksHtml);}</div>
</body>
</html>