.container {
    width: 640;
    height: 480;
    border-color: #aaa;
    border-width: 1px;
    border-style: dotted
}

.edit {
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    margin: .5em 1em;
    padding: .5em .5em;
}

.title {
    font-size: 110%;
	font-weight: bold;
	margin-top: 1em;
	color: #4D9CE7;
}

.lang-Csharp, .lang-Fsharp, .lang-CSharp, .lang-FSharp {
	white-space: pre;
	font-family: monospace, Consolas, Courier;
}

.caption {
	color: #3079CA;
	font-weight: bold;
	font-size: 120%
}

.example {
	background-color: #eee;
	border-width: 1px;
	border-color:#5686e5;
	border-style: solid;
}

.example-title {
	color: #ddd;
	background-color: #5686e5;
	padding: 5px
}

.example-body {
	padding: 5px;
}