@model DocNamespace
<html>
<head>
  <script type="text/javascript">@{WriteLiteral (EmbeddedResourceReader.Get ("jquery.min.js"));}</script>
  <script type="text/javascript">@{WriteLiteral (EmbeddedResourceReader.Get ("editor.js"));}</script>
  <style>@{WriteLiteral (EmbeddedResourceReader.Get ("style.css"));}</style>
</head>
<body>
  <div class="caption">@Model.Name</div>
  <div class="title">Summary:<span id="summary-status"></span></div>
  <div class='edit' id='summary' contenteditable='true'>@{WriteLiteral (Model.SummaryHtml);}</div>
  <div class="title">Remarks:<span id="remarks-status"></span></div>
  <div class='edit' id='remarks' contenteditable='true'>@{WriteLiteral (Model.RemarksHtml);}</div>
  @for (int n = 0; n < Model.NodeCount; n++){
  	<div class="title">@Model[n].KindHtml <a href='ecma://T:@Model[n].FullName'>@Model[n].Name</a><span id="summary-@n-status"></span></div>
  	<div class="edit" id="summary-@n" contenteditable='true'>@{WriteLiteral (Model [n].SummaryHtml);}</div>
  }
</body>
</html>